snippet bug "test case of ActiveSupport::TestCase" !b
/**
 *             ,%%%%%%%%,
 *           ,%%/\%%%%/\%%
 *          ,%%%\c "" J/%%%
 * %.       %%%%/ o  o \\%%%
 * \`%%.     %%%%    _  |%%%
 *  \`%%     \`%%%%(__Y__)%%'
 *  //       ;%%%%`\\-/%%%'
 * ((       /  \`%%%%%%%'
 *  \\    .'          |
 *   \\  /       \  | |
 *    \\/         ) | |
 *     \         /_ | |__
 *     (___________))))))) 攻城湿
 *
 *     神兽保佑 llp  代码永无BUG!
 *     ==========================
 */


endsnippet
